{% extends '@mp/index.html.twig' %}

{% block title %}List of bloggers{% endblock %}

{% block microPostContent %}
    <div class="container">
        {% if bloggersWithPaginator.paginatorDto.totalPages > 1 %}
            {{ include ('@mp/paginator.html.twig', {
                totalPages: bloggersWithPaginator.paginatorDto.totalPages,
                page: bloggersWithPaginator.paginatorDto.page
            }) }}
        {% endif %}
        <div class="row justify-content-md-center">
            {% for blogger in bloggersWithPaginator.bloggers %}
                <div class="col-auto pb-4">
                    <div class="card blogger-item" style="width: 15rem;">
                        <div class="card-header text-truncate overflow-hidden fs-5">
                            {% if app.user and blogger.followers.contains(app.user) %}
                                <span
                                        class="float-start"
                                        data-bs-toggle="popover"
                                        data-bs-trigger="hover focus"
                                        data-bs-placement="bottom"
                                        data-bs-content="{{ 'bloggers_list.title_follow'|trans }}"
                                >⭐</span>&nbsp;
                            {% endif %}
                            {{ user_with_link_to_user_page(blogger)|raw }}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item blogger-posts">{{ 'bloggers_list.title_post'|trans }}
                                : {{ blogger.posts.count }}</li>

                            <li class="list-group-item blogger-followers">{{ 'bloggers_list.title_followers'|trans }}
                                : {{ blogger.followers.count }}</li>

                            <li class="list-group-item blogger-followers">{{ 'bloggers_list.title_comments'|trans }}
                                : {{ blogger.comments.count }}</li>

                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="col">{{ 'bloggers_list.title_not_found'|trans }}</div>
            {% endfor %}
        </div>
        {% if bloggersWithPaginator.paginatorDto.totalPages > 1 %}
            {{ include ('@mp/paginator.html.twig', {
                totalPages: bloggersWithPaginator.paginatorDto.totalPages,
                page: bloggersWithPaginator.paginatorDto.page
            }) }}
        {% endif %}
    </div>
{% endblock %}
