{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ path("micro_post_list") }}"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Micro post App</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path("micro_post_add") }}" class="nav-link">New post</a></li>
                <li class="nav-item"><a href="{{ path("micro_post_blogger_list") }}" class="nav-link">Bloggers</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <li class="nav-item"><a href="{{ path("micro_post_register") }}" class="nav-link">Sign up</a></li>
                    <li class="nav-item"><a href="{{ path("micro_post_login") }}" class="nav-link">Sign in</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('micro_post_notification_all') }}"
                           id="notification"
                           class="nav-link popover"
                           data-bs-toggle="popover"
                           data-bs-trigger="hover focus"
                           data-bs-placement="bottom"
                           data-bs-content="Notifications"
                           tabindex="0">
                            🔔
                            <span id="notification-text"
                                  class="visually-hidden border border-1  p-1 rounded rounded-3 overflow-hidden">22</span>
                            <span id="notification-loader" class="spinner-border spinner-border-sm"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('micro_post_by_user', { nick:app.User.nick }) }}" class="btn btn-secondary">
                            {{ app.User.emoji }}@{{ app.User.nick }}
                        </a>
                    </li>
                    <li class="nav-item"><a href="{{ path("micro_post_logout") }}" class="nav-link">Sign out</a></li>
                {% endif %}
            </ul>
        </header>
    </div>
    <main role="main" class="container mt-5 pb-1">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block microPostContent %}{% endblock %}
    </main>
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row">
                <p class="col text-center copyright-text">&copy; Micro Post Inc.</p>
            </div>
        </div>
    </footer>
{% endblock %}
