{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ path("micro_post_list") }}"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">Micro post App</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path("micro_post_add") }}" class="nav-link">New post</a></li>
                <li class="nav-item"><a href="{{ path("micro_post_blogger_list") }}" class="nav-link">Bloggers</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                    <li class="nav-item"><a href="{{ path("micro_post_register") }}" class="nav-link">Sign up</a></li>
                    <li class="nav-item"><a href="{{ path("micro_post_login") }}" class="nav-link">Sign in</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item"><a href="{{ path("micro_post_logout") }}" class="nav-link">Sign out</a></li>
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                            {{ app.User.emoji }}@{{ app.User.nick }}
                            <span id="notification-main">
                                <span id="notification-text" class="badge border"></span>
                                <span id="notification-loader" class="spinner-border spinner-border-sm"></span>
                            </span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </header>
    </div>
    <main role="main" class="container mt-5">
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block microPostContent %}{% endblock %}
    </main>
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row">
                <p class="col text-center copyright-text">&copy; Micro Post Inc.</p>
            </div>
        </div>
    </footer>
{% endblock %}
