{% extends '@mp/index.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block microPostContent %}
    <div class="row justify-content-center">
        <div class="col-6 align-self-center">
            <h3 class="display-3">{{ 'login_form.title'|trans }}</h3>
            <hr>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% if error is is_security_login_not_confirm %}
                    <div class="alert alert-warning">
                        {{ 'login_form.error.confirm_resend'|trans({'%confirm_resend_link%': url('micro_post_confirm_resend')})|raw }}
                    </div>
                {% endif %}
            {% endif %}

            {{ form(loginForm) }}
            {% if error is not is_security_login_not_confirm %}
                <div class="alert alert-warning">
                    {{ 'login_form.error.restore_password'|trans({'%link%': url('micro_post_restore_password_form')})|raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
