<nav aria-label="Page navigation">
    {% set offsetPages = 3 %}
    {% set pageStart = (page - offsetPages) >= 1 ? page - offsetPages : 1 %}
    {% set pageEnd = (page + offsetPages) >= totalPages ? totalPages : page + offsetPages %}

    <ul class="pagination justify-content-center" id="page-block">
        <li class="page-item disabled">
            <span class="page-link">{{ 'micro-post.pagination.title'|trans({'%page%': page, '%pages%': totalPages}) }}</span>
        </li>

        {% if totalPages > offsetPages and page - offsetPages > 1 %}
            <li class="page-item {% if page == 1 %}disabled{% endif %}"><a
                        href="{{ current_url_append_params({page: 1}) }}#page-block"
                        class="page-link">{{ 'micro-post.pagination.first'|trans }}</a></li>

            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&hellip;</a></li>
        {% endif %}

        {% for i in pageStart..pageEnd %}
            {% if page == i %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link"
                                         href="{{ current_url_append_params({page: i}) }}#page-block">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if totalPages > offsetPages and pageEnd < totalPages %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&hellip;</a></li>

            <li class="page-item {% if page == totalPages %}disabled{% endif %}"><a
                        href="{{ current_url_append_params({page: totalPages}) }}#page-block"
                        class="page-link">{{ 'micro-post.pagination.last'|trans({'%page%': page, '%pages%': totalPages}) }}</a>
            </li>
        {% endif %}
    </ul>
</nav>
