{% if commentsWithPaginatorDto.paginatorDto.totalPages > 1 %}
    {{ include ('@mp/paginator.html.twig', {paginatorDto: commentsWithPaginatorDto.paginatorDto}) }}
{% endif %}

<div class="container">
    <div class="row justify-content-md-center">
        {% for comment in commentsWithPaginatorDto.comments %}
            <div class="col-md-6 col-sm-12">
                <div class="card mb-5 comment-item">
                    <div class="card-header mb-2 text-muted">
                        {{ user_with_link_to_user_page(comment.user)|raw }}
                        {{ 'micro-post.comments.comment.author_date'|trans({'%date%': comment.createAt|format_datetime('medium', 'short')}) }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if commentsWithPaginatorDto.paginatorDto.totalPages > 1 %}
    {{ include ('@mp/paginator.html.twig', {paginatorDto: commentsWithPaginatorDto.paginatorDto}) }}
{% endif %}