{% if is_granted('ROLE_ADMIN') %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end rounded-3 border border-1 p-2 m-3 bg-light">
        <div class="btn-group" role="group">
            <a class="btn btn-outline-secondary btn-sm {% if has_soft_deleted_param(app.request.query) %}active{% endif %}"
               href="{{ current_url_switch_soft_deleted(true) }}">{{ 'micro-post.comments.toolbar.show_soft_deleted'|trans }}</a>
            <a class="btn btn-outline-secondary btn-sm {% if not has_soft_deleted_param(app.request.query) %}active{% endif %}"
               href="{{ current_url_switch_soft_deleted(false) }}">{{ 'micro-post.comments.toolbar.hide_soft_deleted'|trans }}</a>
            <a class="btn btn-outline-secondary btn-sm"
               href="{{ path('micro_post_comment_restore_all', {uuid: postUuid, page: app.request.get('page')}) }}">
                {{ 'micro-post.comments.toolbar.restore_all_comments'|trans }}
            </a>
        </div>
    </div>
{% endif %}

{% if commentsWithPaginatorDto.paginatorDto.totalPages > 1 %}
    {{ include ('@mp/paginator.html.twig', {paginatorDto: commentsWithPaginatorDto.paginatorDto}) }}
{% endif %}

<div class="container">
    <div class="row justify-content-md-center">
        {% for comment in commentsWithPaginatorDto.comments %}
            <div class="col-md-6 col-sm-12">
                {% if comment.isDeleted %}
                    {% set cssClassDeletedForCard = 'border-danger' %}
                    {% set cssClassDeletedForText = 'text-muted fw-lighter' %}
                {% else %}
                    {% set cssClassDeletedForCard = '' %}
                    {% set cssClassDeletedForText = '' %}
                {% endif %}
                <div class="card mb-5 comment-item {{ cssClassDeletedForCard }}">
                    <div class="card-header mb-2 text-muted {{ cssClassDeletedForText }}">
                        {{ user_with_link_to_user_page(comment.user)|raw }}
                        {{ 'micro-post.comments.comment.author_date'|trans({'%date%': comment.createAt|format_datetime('medium', 'short')}) }}
                    </div>
                    <div class="card-body">
                        <p class="card-text {{ cssClassDeletedForText }}">{{ comment.content }}</p>
                    </div>
                    {% if is_granted('COMMENT_DEL_OWNER_OR_ADMIN', comment) %}
                        <div class="card-footer text-end">
                            {% if comment.isDeleted == false %}
                                <a href="{{ path('micro_post_comment_del', {uuid: comment.uuid}) }}"
                                   class="btn btn-close btn-sm btn-danger anchor-confirm comment-delete border-0"
                                   data-bs-toggle="popover"
                                   data-bs-trigger="hover focus"
                                   data-bs-placement="top"
                                   data-bs-content="{{ 'micro-post.comments.del.title'|trans|escape }}"
                                   data-title="⚠ {{ 'micro-post.comments.del.title'|trans|escape }}"
                                   data-locale="{{ app.request.get('_locale', 'en') }}"
                                   data-message="{{ 'micro-post.comments.del.confirm_message'|trans|escape }}<br>{{ comment.content|striptags|escape|slice(0,35) }}..."></a>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') and comment.isDeleted %}
                                <a href="{{ path('micro_post_comment_restore', {uuid: comment.uuid}) }}"
                                   class="btn btn-sm btn-warning comment-restore"
                                >{{ 'micro-post.comments.restore.title'|trans }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% if commentsWithPaginatorDto.paginatorDto.totalPages > 1 %}
    {{ include ('@mp/paginator.html.twig', {paginatorDto: commentsWithPaginatorDto.paginatorDto}) }}
{% endif %}