<div class="card mb-5">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">
            Post from user
            {{ post.user.emoji }}@<a href="{{ path("micro_post_by_user", {"nick": post.user.nick}) }}">
                {{ post.user.nick }}</a> at {{ post.getDate|date }}
        </h6>
        <p class="card-text">{{ post.getContent }}</p>
        <div class="row">
            <div class="col-md-6">
                {% set isLiked = post.getLikedBy.contains(app.user) %}

                <button type="button"
                        data-uuid="{{ post.uuid }}"
                        data-action="{% if isLiked %}unlike{% else %}like{% endif %}"
                        data-label-like="Like"
                        data-label-unlike="Unlike"
                        class="btn btn-sm {% if isLiked %}btn-outline-secondary{% else %}btn-outline-primary{% endif %}">
                    <span class="like-spinner spinner-border spinner-border-sm" style="display: none"></span>
                    {% if isLiked %}Unlike{% else %}Like{% endif %}
                    <sup>{{ post.getLikedBy.count }}</sup>
                </button>
            </div>
            <div class="col-md-6 text-end">
                <div class="btn-group">
                    <a class="btn btn-primary btn-sm" href="{{ url("micro_post_view", {uuid: post.getUuid}) }}">view
                        more</a>
                    {% if is_granted('EDIT_DEL_OWNER_OR_ADMIN', post) %}
                        <a class="btn btn-secondary btn-sm" href="{{ url("micro_post_edit", {uuid: post.getUuid}) }}">edit</a>
                        <a class="btn btn-danger btn-sm"
                           href="{{ url("micro_post_del", {uuid: post.getUuid}) }}">delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
