{% extends 'micro-post/index.html.twig' %}

{% block javascript_app_reg %}
    {{ encore_entry_script_tags('app.reg') }}
{% endblock %}

{% block title %} Sign up{% endblock %}

{% block microPostContent %}
    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
            <h1>Register</h1>
            {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm) }}
            {{ form_row(registrationForm.login) }}
            {{ form_row(registrationForm.nick) }}
            <div class="row mb-3">
                <div class="col-lg-3 col-md-4 col-sm-12 emoji-input">
                    {{ form_label(registrationForm.emoji) }}
                    {{ form_widget(registrationForm.emoji) }}
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div id="emoji-toolbar"></div>
                </div>
                <div class="col">
                    {{ form_help(registrationForm.emoji) }}
                    <div class="form-error">
                        {{ form_errors(registrationForm.emoji) }}
                    </div>
                </div>
            </div>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password) }}
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
