{% set alert_css = 'alert-secondary' %}
{% set alert_text = 'hmmmmm...' %}

{% if notification is is_notification_like %}
    {% set alert_css = 'alert-primary' %}
    {% set alert_text = 'like our post 😊' %}
{% elseif notification is is_notification_unlike %}
    {% set alert_css = 'alert-warning' %}
    {% set alert_text = 'unlike your post 😮' %}
{% elseif notification is is_notification_follow %}
    {% set alert_css = 'alert-success' %}
    {% set alert_text = 'now is your follower 😍' %}
{% elseif notification is is_notification_unfollow %}
    {% set alert_css = 'alert-danger' %}
    {% set alert_text = 'not follow to you 😥' %}
{% endif %}
<div class="alert {{ alert_css }}">
    <a class="alert-link fw-normal" href="{{ path('micro_post_by_user', {nick: notification.byUser.nick}) }}">
        {{ notification.byUser.emoji }}@{{ notification.byUser.nick }}</a>
    {{ alert_text }} at {{ notification.createAt|date }}
    {% if  notification.post is defined %}
        <p class="pt-2">
            <a class="alert-link fw-normal"
               href="{{ path('micro_post_view', {uuid: notification.post.uuid}) }}">{{ notification.post.content|slice(0, 50) }}
                ...</a>
        </p>
    {% endif %}
    <hr>
    <div class="d-flex justify-content-end">
        <button type="button" data-notitifation-id="{{ notification.id }}"
                class="notification-read btn btn-sm btn-outline-primary">
            <span class="spinner-into-btn spinner-border spinner-border-sm" style="display: none"></span>
            Mark this notification as read
        </button>
    </div>
</div>
