{% extends 'micro-post/index.html.twig' %}

{% block title %} {{ 'micro-post.menu.nav.profile.html_title'|trans({'%nick%': user.nick}) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.likes') }}
{% endblock %}

{% block microPostContent %}
    <div class="card mb-5">
        <div class="card-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col"><h6 class="display-6">{{ user.emoji }}@{{ user.nick }}</h6></div>
                    <div class="col text-end">
                        {% if app.user and app.user != user %}
                            {% if app.user.following.contains(user) %}
                                <a class="btn btn-outline-danger"
                                   href="{{ path('micro-post-unfollowing', {uuid: user.uuid}) }}">
                                    {{ 'micro-post.profile.unfollowing'|trans }}</a>
                            {% else %}
                                <a class="btn btn-outline-success"
                                   href="{{ path('micro-post-following', {uuid: user.uuid}) }}">
                                    {{ 'micro-post.profile.follow'|trans }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ 'micro-post.profile.followers'|trans({'%count%': user.followers|length, '%nick%': user.nick}) }}
            {% for follower in user.followers %}
                <a class="badge rounded-pill text-bg-light"
                   href="{{ path('micro_post_by_user', {uuid: follower.uuid}) }}"
                >@{{ follower.nick }}</a>
            {% endfor %}
        </div>
        <div class="card-body">
            {{ 'micro-post.profile.following'|trans({'%count%': user.following|length, '%nick%': user.nick}) }}
            {% for following in user.following %}
                <a class="badge rounded-pill text-bg-light"
                   href="{{ path('micro_post_by_user', {uuid: following.uuid}) }}"
                >@{{ following.nick }}</a>
            {% endfor %}
        </div>
    </div>

    {% for post in posts %}
        {{ include ("micro-post/post-item.html.twig", { post }) }}
    {% endfor %}
{% endblock %}
