{% extends 'micro-post/index.html.twig' %}

{% block title %}Micro post from @{{ user.nick }} {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.likes') }}
{% endblock %}

{% block microPostContent %}
    <div class="card mb-5">
        <div class="card-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col"><h6 class="display-6">{{ user.emoji }}@{{ user.nick }}</h6></div>
                    <div class="col text-end">
                        <a class="btn btn-outline-secondary" href="{{ path('micro_post_list') }}">All posts</a>
                        {% if app.user and app.user != user %}
                            {% if app.user.following.contains(user) %}
                                <a class="btn btn-outline-danger"
                                   href="{{ path('micro-post-unfollowing', {uuid: user.uuid}) }}">Unfollowing</a>
                            {% else %}
                                <a class="btn btn-outline-success"
                                   href="{{ path('micro-post-following', {uuid: user.uuid}) }}">Following</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            Followers:
            {% for follower in user.followers %}
                <a class="badge rounded-pill text-bg-light"
                   href="{{ path('micro_post_by_user', {nick: follower.nick}) }}"
                >@{{ follower.nick }}</a>
            {% else %}
                is empty ⌛
            {% endfor %}
        </div>
        <div class="card-body">
            Following:
            {% for following in user.following %}
                <a class="badge rounded-pill text-bg-light"
                   href="{{ path('micro_post_by_user', {nick: following.nick}) }}"
                >@{{ following.nick }}</a>
            {% else %}
                is empty ⌛
            {% endfor %}
        </div>
    </div>

    {% for post in posts %}
        {{ include ("micro-post/post-item.html.twig", {post: post}) }}
    {% endfor %}
    <div class="mb-5">&nbsp;</div>
{% endblock %}
