{% extends '@mp/index.html.twig' %}

{% block title %}{{ post.getContent|slice(0, 50) }}...{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.likes') }}
{% endblock %}


{% block microPostContent %}
    {{ include ('@mp/post-item.html.twig', {post: post}) }}
    {% if app.user is is_user %}
        {{ form(form) }}
        {{ include('@mp/post-comments.html.twig', {commentsWithPaginatorDto}) }}
    {% else %}
        <p class="alert alert-info">
            ⚠ Только авторизованые пользователи могут оставить комментарий.
        </p>
    {% endif %}
{% endblock %}
