{% extends '@mp/index.html.twig' %}

{% block title %}{{ post.getContent|slice(0, 50) }}...{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app.likes') }}
    {{ encore_entry_script_tags('app.comment') }}
{% endblock %}


{% block microPostContent %}
    {{ include ('@mp/post-item.html.twig', {post: post}) }}
    {% if app.user is is_user %}
        <div class="pb-5">{{ form(form) }}</div>
    {% else %}
        <p class="alert alert-info">
            {{ 'micro-post.comments.comment_for_auth'|trans }}
        </p>
    {% endif %}
    {{ include('@mp/post-comments.html.twig', {commentsWithPaginatorDto}) }}
{% endblock %}
