{% extends 'blog/blog_main.html.twig' %}

{% block title %}Main page of blog{% endblock %}

{% block blogContent %}
    {% if posts %}
        {% if pageCount > 1 %}
            {{ include ("blog/paginator.html.twig", {"pageCount": pageCount}) }}
            <hr>
        {% endif %}
        {% for post in posts %}
            <h3 class="display-6">{{ post.title }}</h3>
            <h5>Author: {{ post.author|default("anonymous") }}</h5>
            <h6>Date: {{ post.date|date }}</h6>
            <p>
                {{ post.content|text_by_percent(35) }}...
            </p>
            <div><a href="{{ path("blog_show", {uuid: post.uuid}) }}">read more...</a></div>
            {% if loop.index < loop.length %}
                <hr>
            {% endif %}
        {% endfor %}
        {% if pageCount > 1 %}
            <hr>
            {{ include ("blog/paginator.html.twig", {"pageCount": pageCount}) }}
        {% endif %}
    {% else %}
        <h4>Posts not found</h4>
    {% endif %}
{% endblock %}
